In [3]:
!pip install pandas_datareader

Collecting pandas_datareader

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from pandas_datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from pandas_datareader) (2.0.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.24.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.17)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.7.22)
Requirement already satisfied: six>=1.5 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
   ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
   --- ------------------------------------ 10.2/109.5 kB ? eta -:--:--
   ------- ------------------------------- 20.5/109.5 kB 217.9 kB/s eta 0:00:01
   ------- ------------------------------- 20.5/109.5 kB 217.9 kB/s eta 0:00:01
   ------- ------------------------------- 20.5/109.5 kB 217.9 kB/s eta 0:00:01
   ---------- ---------------------------- 30.7/109.5 kB 100.9 kB/s eta 0:00:01
   -------------- ------------------------ 41.0/109.5 kB 131.3 kB/s eta 0:00:01
   --------------------- ----------------- 61.4/109.5 kB 193.2 kB/s eta 0:00:01
   ------------------------- ------------- 71.7/109.5 kB 206.9 kB/s eta 0:00:01
   -------------------------------------- 109.5/109.5 kB 264.6 kB/s eta 0:00:00
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0

In [4]:
!pip install plotly

Collecting plotly
  Downloading plotly-5.21.0-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\a.abdollahi.ronak\appdata\local\programs\python\python310\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\a.abdollahi.ronak\appdata\roaming\python\python310\site-packages (from plotly) (23.1)
Downloading plotly-5.21.0-py3-none-any.whl (15.7 MB)
   ---------------------------------------- 0.0/15.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.7 MB ? eta -:--:--
   ---------------------------------------- 0.1/15.7 MB 787.7 kB/s eta 0:00:20
   ---------------------------------------- 0.1/15.7 MB 787.7 kB/s eta 0:00:20
   ---------------------------------------- 0.1/15.7 MB 787.7 kB/s eta 0:00:20
   ---------------------------------------- 0.2/15.7 MB 908.0 kB/s eta 0:00:18
    --------------------------------------- 0.2/15.7 MB 811.5 kB/s eta 0:00:20
    --------------------------------------- 0.3/15.7 MB 827.5 kB/s eta 0:00:19
    --------------------------------------- 0.3/15.7 MB 827.5 kB/s eta 0:00:19
    --------------------------------------- 0.3/15.7 MB 708.9 kB/s eta 0:00:22
   - -------------------------------------- 0.5/15.7 MB 972.0 kB/s eta 0:00:16
   - -------------------------------------- 0.5/15.7 MB 972.0 kB/s eta 0:00:16
   - -------------------------------------- 0.5/15.7 MB 972.0 kB/s eta 0:00:16
   -- ------------------------------------- 0.8/15.7 MB 1.4 MB/s eta 0:00:11
   -- ------------------------------------- 1.0/15.7 MB 1.5 MB/s eta 0:00:11
   -- ------------------------------------- 1.0/15.7 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.2/15.7 MB 1.7 MB/s eta 0:00:09
   --- ------------------------------------ 1.4/15.7 MB 1.7 MB/s eta 0:00:09
   --- ------------------------------------ 1.4/15.7 MB 1.7 MB/s eta 0:00:09
   --- ------------------------------------ 1.4/15.7 MB 1.6 MB/s eta 0:00:09
   --- ------------------------------------ 1.4/15.7 MB 1.6 MB/s eta 0:00:10
   ---- ----------------------------------- 1.8/15.7 MB 1.9 MB/s eta 0:00:08
   ----- ---------------------------------- 2.0/15.7 MB 1.9 MB/s eta 0:00:08
   ------ --------------------------------- 2.4/15.7 MB 2.2 MB/s eta 0:00:07
   ------ --------------------------------- 2.5/15.7 MB 2.3 MB/s eta 0:00:06
   ------- -------------------------------- 2.8/15.7 MB 2.4 MB/s eta 0:00:06
   -------- ------------------------------- 3.2/15.7 MB 2.7 MB/s eta 0:00:05
   --------- ------------------------------ 3.6/15.7 MB 2.9 MB/s eta 0:00:05
   ---------- ----------------------------- 4.1/15.7 MB 3.1 MB/s eta 0:00:04
   ----------- ---------------------------- 4.6/15.7 MB 3.4 MB/s eta 0:00:04
   ------------ --------------------------- 5.0/15.7 MB 3.6 MB/s eta 0:00:04
   -------------- ------------------------- 5.5/15.7 MB 3.8 MB/s eta 0:00:03
   -------------- ------------------------- 5.9/15.7 MB 4.0 MB/s eta 0:00:03
   --------------- ------------------------ 6.2/15.7 MB 4.2 MB/s eta 0:00:03
   ---------------- ----------------------- 6.4/15.7 MB 4.1 MB/s eta 0:00:03
   ----------------- ---------------------- 6.9/15.7 MB 4.3 MB/s eta 0:00:03
   ------------------ --------------------- 7.4/15.7 MB 4.4 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.7 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.7 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.7 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.7 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.7 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.7 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 7.6/15.7 MB 3.9 MB/s eta 0:00:03
   ------------------- -------------------- 7.8/15.7 MB 3.8 MB/s eta 0:00:03
   -------------------- ------------------- 8.1/15.7 MB 3.9 MB/s eta 0:00:02
   --------------------- ------------------ 8.5/15.7 MB 4.0 MB/s eta 0:00:02
   ---------------------- ----------------- 8.9/15.7 MB 4.1 MB/s eta 0:00:02
   ----------------------- ---------------- 9.3/15.7 MB 4.2 MB/s eta 0:00:02
   ------------------------ --------------- 9.8/15.7 MB 4.3 MB/s eta 0:00:02
   ------------------------- -------------- 10.1/15.7 MB 4.4 MB/s eta 0:00:02
   -------------------------- ------------- 10.2/15.7 MB 4.3 MB/s eta 0:00:02
   -------------------------- ------------- 10.6/15.7 MB 5.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.7 MB 5.5 MB/s eta 0:00:01
   ----------------------------- ---------- 11.5/15.7 MB 6.0 MB/s eta 0:00:01
   ------------------------------ --------- 11.9/15.7 MB 6.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.4/15.7 MB 6.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.8/15.7 MB 6.8 MB/s eta 0:00:01
   --------------------------------- ------ 13.3/15.7 MB 6.9 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.7 MB 6.9 MB/s eta 0:00:01
   ------------------------------------ --- 14.3/15.7 MB 6.9 MB/s eta 0:00:01
   ------------------------------------ --- 14.5/15.7 MB 6.9 MB/s eta 0:00:01
   -------------------------------------- - 15.2/15.7 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------  15.7/15.7 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------- 15.7/15.7 MB 6.7 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-5.21.0

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [9]:
end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-70, month=end.month, day=end.day)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=22
Period for indexes: 1954-04-22 to 2024-04-22

In [14]:
gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)
gdpc1['gdpc1_us_yoy'] = gdpc1.GDPC1/gdpc1.GDPC1.shift(4)-1

In [65]:
# Q1 >> Average of YoY growth in 2023
r1 = gdpc1.filter(like='2023', axis=0)
print('%.1f' % (r1.gdpc1_us_yoy.mean() * 100))

2.5

In [69]:
# Q2 >> Minimum value of dgs10-dgs2
dgs2 = pdr.DataReader("DGS2", "fred", start='2000-01-01')
dgs10 = pdr.DataReader("DGS10", "fred", start='2000-01-01')

dgs_joined = dgs10.join(dgs2, on='DATE', how='inner')
dgs_joined['DIFF'] = dgs10.DGS10 - dgs2.DGS2
print('%.1f' % dgs_joined.DIFF.min())

-1.1

In [108]:
# Q3 >> Largest value of  S&P 500 and IPC Mexico indexes
snp500 = yf.download(tickers="^GSPC", period='5Y', interval='1d')

snp500['adj_close_last_year'] = snp500['Adj Close'].shift(252)
snp500['yoy_growth'] = snp500['Adj Close']/snp500['adj_close_last_year']-1

snp500[(snp500.index >= '2019-04-09') & (snp500.index <= '2024-04-09')]

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,adj_close_last_year,yoy_growth
Date,,,,,,,,
2019-04-24,2934.000000,2936.830078,2926.050049,2927.250000,2927.250000,3468480000,NaN,NaN
2019-04-25,2928.989990,2933.100098,2912.840088,2926.169922,2926.169922,3440010000,NaN,NaN
2019-04-26,2925.810059,2939.879883,2917.560059,2939.879883,2939.879883,3264390000,NaN,NaN
2019-04-29,2940.580078,2949.520020,2939.350098,2943.030029,2943.030029,3150390000,NaN,NaN
2019-04-30,2937.139893,2948.219971,2924.110107,2945.830078,2945.830078,3939760000,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-04-03,5194.370117,5228.750000,5194.370117,5211.490234,5211.490234,3703250000,4109.310059,0.268215
2024-04-04,5244.049805,5256.589844,5146.060059,5147.209961,5147.209961,4075680000,4124.509766,0.247957
2024-04-05,5158.950195,5222.180176,5157.209961,5204.339844,5204.339844,3386780000,4100.600098,0.269165
2024-04-08,5211.370117,5219.569824,5197.350098,5202.390137,5202.390137,3278180000,4090.379883,0.271860
2024-04-09,5217.029785,5224.810059,5160.779785,5209.910156,5209.910156,3400680000,4105.020020,0.269156

In [91]:
ipc = yf.download(tickers="^MXX", period='5Y', interval='1d')

ipc['adj_close_last_year'] = ipc['Adj Close'].shift(252)
ipc['yoy_growth'] = ipc['Adj Close']/ipc['adj_close_last_year']-1

ipc[(ipc.index >= '2019-04-09') & (ipc.index <= '2024-04-09')]

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,adj_close_last_year,yoy_growth
Date,,,,,,,,
2019-04-23,45355.929688,45424.421875,44948.691406,45148.320312,45148.320312,132582400,NaN,NaN
2019-04-24,45112.128906,45186.269531,44666.250000,45045.328125,45045.328125,131485100,NaN,NaN
2019-04-25,45005.039062,45064.929688,44712.300781,45026.679688,45026.679688,125639200,NaN,NaN
2019-04-26,45074.699219,45208.371094,44769.351562,44974.968750,44974.968750,109775400,NaN,NaN
2019-04-29,44987.050781,45211.148438,44686.531250,44956.730469,44956.730469,99063800,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-04-03,57547.191406,58086.421875,57300.109375,57503.390625,57503.390625,189285300,54198.941406,0.060969
2024-04-04,57539.468750,58219.500000,57514.179688,57882.761719,57882.761719,184739700,53904.000000,0.073812
2024-04-05,57805.191406,58227.839844,57678.609375,58092.441406,58092.441406,212252300,53896.351562,0.077855
2024-04-08,58021.660156,58192.320312,57749.441406,57989.941406,57989.941406,154641800,54176.011719,0.070399
2024-04-09,58010.371094,58298.769531,57492.058594,57571.148438,57571.148438,202213300,53498.390625,0.076129

In [92]:
snp500[(snp500.index >= '2019-04-09') & (snp500.index <= '2024-04-09')]['yoy_growth'].max()

0.7477966345823344

In [102]:
# Q4 >> Largest ratio of Adj.Close
sr = yf.download(tickers="2222.SR", period='5Y', interval='1d')

sr_max = sr[sr.index.year == 2023]['Adj Close'].max()
sr_min = sr[sr.index.year == 2023]['Adj Close'].min()

sr_ratio = (sr_max - sr_min)/sr_max
print('%.2f' % sr_ratio)

[*********************100%***********************]  1 of 1 completed
0.21

In [103]:
brk = yf.download(tickers="BRK-B", period='5Y', interval='1d')

brk_max = brk[brk.index.year == 2023]['Adj Close'].max()
brk_min = brk[brk.index.year == 2023]['Adj Close'].min()

brk_ratio = (brk_max - brk_min)/brk_max
print('%.2f' % brk_ratio)

[*********************100%***********************]  1 of 1 completed
0.21

In [104]:
aapl = yf.download(tickers="AAPL", period='5Y', interval='1d')

aapl_max = aapl[aapl.index.year == 2023]['Adj Close'].max()
aapl_min = aapl[aapl.index.year == 2023]['Adj Close'].min()

aapl_ratio = (aapl_max - aapl_min)/aapl_max
print('%.2f' % aapl_ratio)

[*********************100%***********************]  1 of 1 completed
0.37

In [105]:
msft = yf.download(tickers="MSFT", period='5Y', interval='1d')

msft_max = msft[msft.index.year == 2023]['Adj Close'].max()
msft_min = msft[msft.index.year == 2023]['Adj Close'].min()

msft_ratio = (msft_max - msft_min)/msft_max
print('%.2f' % msft_ratio)

[*********************100%***********************]  1 of 1 completed
0.42

In [106]:
goog = yf.download(tickers="GOOG", period='5Y', interval='1d')

goog_max = goog[goog.index.year == 2023]['Adj Close'].max()
goog_min = goog[goog.index.year == 2023]['Adj Close'].min()

goog_ratio = (goog_max - goog_min)/goog_max
print('%.2f' % goog_ratio)

[*********************100%***********************]  1 of 1 completed
0.39

In [107]:
jpm = yf.download(tickers="JPM", period='5Y', interval='1d')

jpm_max = jpm[jpm.index.year == 2023]['Adj Close'].max()
jpm_min = jpm[jpm.index.year == 2023]['Adj Close'].min()

jpm_ratio = (jpm_max - jpm_min)/jpm_max
print('%.2f' % jpm_ratio)

[*********************100%***********************]  1 of 1 completed
0.28

In [135]:
# Q5 >> Largest dividend yield
tickers = yf.Tickers('2222.SR JPM GOOG MSFT AAPL BRK-B')

sr_hist = tickers.tickers['2222.SR'].history(period='5y')
sr_ratio = (sr_hist[sr_hist.index.year == 2023]['Dividends'].sum())/(sr[sr.index.year == 2023]['Adj Close'].iloc[-1])


jpm_hist = tickers.tickers['JPM'].history(period='5y')
jpm_ratio = (jpm_hist[jpm_hist.index.year == 2023]['Dividends'].sum())/(jpm[jpm.index.year == 2023]['Adj Close'].iloc[-1])


goog_hist = tickers.tickers['GOOG'].history(period='5y')
goog_ratio = (goog_hist[goog_hist.index.year == 2023]['Dividends'].sum())/(goog[goog.index.year == 2023]['Adj Close'].iloc[-1])


msft_hist = tickers.tickers['MSFT'].history(period='5y')
msft_ratio = (msft_hist[msft_hist.index.year == 2023]['Dividends'].sum())/(msft[msft.index.year == 2023]['Adj Close'].iloc[-1])


aapl_hist = tickers.tickers['AAPL'].history(period='5y')
aapl_ratio = (aapl_hist[aapl_hist.index.year == 2023]['Dividends'].sum())/(aapl[aapl.index.year == 2023]['Adj Close'].iloc[-1])


brk_hist = tickers.tickers['BRK-B'].history(period='5y')
brk_ratio = (brk_hist[brk_hist.index.year == 2023]['Dividends'].sum())/(brk[brk.index.year == 2023]['Adj Close'].iloc[-1])


print('%.1f' % (sr_ratio*100))
print('%.1f' % (jpm_ratio*100))
print('%.1f' % (goog_ratio*100))
print('%.1f' % (msft_ratio*100))
print('%.1f' % (aapl_ratio*100))
print('%.1f' % (brk_ratio*100))

2.8
2.4
0.0
0.7
0.5
0.0